:root {
  --base-background: #fafafa;
  --base-card: #f3f2f2;
  --base-button: #e6e5e5;
  --base-label: #8d8686;
  --base-text: #574f4d;
  --base-subtitle: #403937;
  --base-title: #272221;

  --brand-purple: #ebe5f9;
  --brand-purple-md: #8047f8;
  --purple-dark: #4b2995;

  --yellow-brand-light: #f1e9c9;
  --yellow-brand: #dbac2c;
  --yellow-dark: #c47f17;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.95rem;
}

body {
  background: var(--base-background);
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Baloo 2', cursive;
}
